# Gradle files
.gradle/
build/

# Android Studio files
.idea/workspace.xml
.idea/libraries
.idea/caches
.idea/assetWizardSettings.xml
.idea/modules.xml
.idea/navEditor.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
*.iml
local.properties

# Log files
*.log

# Captures and builds
captures/
app/build/

# System files
.DS_Store